@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  width: 95%;
  z-index: 1000;
}

.nav-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 103%;
  height: 8vh;
  background: rgba(255, 255, 255, 0.3); /* Slightly transparent background */
  border: 1px solid rgba(255, 255, 255, 0.5); /* Light border */
  border-radius: 10px; /* Rounded corners */
  /* backdrop-filter: blur(10px);  */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.content {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.search {
  display: flex;
  justify-content: space-between;
  width: 40vw;
  padding: 10px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search input {
  flex-grow: 1;
  border: 1px white solid;
  font-size: large;
  padding-left: 16px;
}

.search input:focus {
  outline: none;
}

.search button[type="submit"] {
  background-color: #1f2937;
  width: 100px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  right: 0;
  transition: 0.9s ease;
}

.search button[type="submit"]:hover {
  color: rgb(255, 255, 255);
  background-color: #1f2937;
}
.location-title > p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
}
.section-cards {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 10vh;
}
.cards {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  min-height: 40vh;
  width: 36vw;
  background: rgba(255, 255, 255, 0.3);
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  gap: 16px;
}

.lct-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.img {
  flex-grow: 1;
  display: flex;
  align-items: end;
  overflow: hidden;
}

.cards .img img {
  padding: 0;
  margin: 0;
  z-index: -1;
  width: 100%;
  height: 12vh;
}
.main-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
}
.secondary-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: medium;
}
.aqi {
  text-align: center;
}
.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: large;
  text-align: center;
}
.small {
  font-family: "Poppins", sans-serif;
  font-weight: 220;
  font-style: normal;
  font-size: small;
  text-align: center;
}
.small-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 5px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rt-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
  padding: 0px 20px;
}
.chemicals,
.percentage,
.aqi {
  text-align: center;
}
.loader-data {
  display: none;
}
.loader__btn {
  margin: auto;
  border: none;
  background-color: white;
  padding: 10px 20px 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  border-radius: 12px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  cursor: wait;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: transparent;
  width: 23px;
  height: 23px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
